* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   list-style: none;
}

/* STYLE GENERAL */

body {
    background-color: azure;
    font-size: 1rem;
}



h2 {
    text-align: center;
    padding-bottom: 10px;
    text-shadow: blue;
}

h3 {
    padding-bottom: 10px;
}

h1 {
    font-size: 2rem;
}


/* header */
header {
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#navlink {
    display: flex;
    gap: 10px;
    list-style: none;
}

/* MAIN */
hr {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

main {
    padding: 10px;
}

#aboutTitle, #titleExperience, #titleSkills {
    padding-bottom: 10px;
}

/* ABOUT */


#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* formations */

#formations {
    padding: 20px;
    display: flex;
}

#formations article {
    width: 600px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    
}

/* SKILL */

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#skill {
    display: flex;
    flex-wrap: wrap;
}

#skill article {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
    /* flex: 1 1 400px; */
}

.linkIcon {
    display: flex;
    max-width: 1080px;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
    align-content: center;
    align-items: center;
}

.linkIcon li a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    
}

.icon {
    width: 60px;
}

/* experiences */

#experiences {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#test {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.ardesign {
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

/* ------- */



/* footer */

.reseaux  {
    width: 50px;
    height: auto;

}

footer{
    background-color:#ECF0F1 ;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reseaux ul {
    padding-top: 5px;
    list-style: none;
    display: flex;
    gap: 10px;
    
}


/* SCREEN PHONE */

@media only screen and ( max-width: 800px) {


    #artprofil {
        display: none;
    }

    #footer {
        display: flex;
        flex-direction: column;
    }

    #reseaux {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #formations {
        display: flex;
        align-content: center;
        flex-direction: column;
        
    }

}

@media only screen and ( max-width : 1080px) {

    #skill {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        padding: 0;
    }


}