* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

/* STYLE GENERAL */

body {
    background-color: azure;
}

h2 {
    text-align: center;
}


h1 {
    font-size: 2rem;
}

/* header */
header {
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#navlink {
    display: flex;
    gap: 10px;
    list-style: none;
}

/* MAIN */

#aboutTitle, #titleExperience, #titleSkills {
    padding-bottom: 10px;
}

/* ABOUT */


#about {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SKILL */

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#linkIcon {
    display: flex;
    max-width: 1080px;
    list-style: none;
    gap: 50px;
    align-content: center;
    align-items: center;
}

#linkIcon li a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;

}

.icon {
    width: 60px;
}

/* ------- */



/* footer */

.reseaux  {
    width: 50px;
    height: auto;

}

footer{
    background-color:#ECF0F1 ;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#footer {
    display: flex;
    justify-content: space-around;
}
#reseaux ul {
    padding-top: 5px;
    list-style: none;
    display: flex;
    gap: 10px;
    
}


/* SCREEN PHONE */

@media only screen and ( max-width: 600px) {
    #artprofil {
        display: none;
    }
}